<div class="progress-bar">
    <div class="country-wrap">

        <div class="mountain-1"></div>
        <div class="mountain-2"></div>

        <div class="grass"></div>
        <div class="street">
            <div class="car">
                <!--<div class="car-base"></div>-->
                <div class="car-body">
                    <div class="car-top-back">
                        <div class="back-curve"></div>
                    </div>
                    <div class="car-gate"></div>
                    <div class="car-top-front">
                        <div class="wind-sheild"></div>
                    </div>
                    <div class="bonet-front"></div>
                    <div class="stepney"></div>
                </div>
                <div class="boundary-tyre-cover">
                    <div class="boundary-tyre-cover-back-bottom"></div>
                    <div class="boundary-tyre-cover-inner"></div>
                </div>
                <div class="tyre-cover-front">
                    <div class="boundary-tyre-cover-inner-front"></div>
                </div>
                <div class="base-axcel">

                </div>
                <div class="front-bumper"></div>
                <div class="tyre">
                    <div class="gap"></div>
                </div>
                <div class="tyre front">
                    <div class="gap"></div>
                </div>
                <div class="car-shadow"></div>
            </div>
        </div>
        <div class="street-stripe"></div>
        <div class="hill">

        </div>

    </div>
</div>
<footer>
    <div class="car_container">
        <div class="row">
            <div class="col-lg-4">
                <div class="footer-logo">
                    <div class="footer-logo mb-4">
                        <img src="../assets/images/logs/main.png" alt="">
                    </div>
                </div>
                <p class="text-light about-ft">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
                    recusandae
                    praesentium sunt aliquam
                    optio, sint vero magnam! Soluta, cum facere doloremque consequuntur quae corporis? Voluptas,
                    eveniet! Laboriosam nobis, fuga totam laudantium eligendi laborum.</p>
                <div class="top-heade d-flex justify-content-between">
                    <div class="top-right">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>


            <div class="col-lg-4">
                <h4>Our Services</h4>
                <ul>
                    <li><a href="">Car hire</a></li>
                    <li><a href="">Van hire</a></li>
                    <li><a href="">Car rental deals</a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h4>Contact Us</h4>
                <h6>Phone:</h6>
                <p>+123 456 7890</p>
                <h6>Email: </h6>
                <p>info@executiverentalsltd.com</p>
                <h6>Physical Address:</h6>
                <p>Waiyaki Way, Westlands, Nairobi
                    Tel: +254 722 513 393 / +254 700 044003</p>
                <h6>Postal Address</h6>
                <p>P. O. Box 45757 - 00100 Nairobi, KE</p>
            </div>
        </div>
        <div class="copyright">
            <p class="text-light">© Copyright 2024 Executive Rentals Limited - All Rights Reserved.</p>
        </div>
    </div>

</footer>